#current-pic {
  position: relative;
  width: 10%;
}

#city-name{
    float: left;
    font-weight: bold;
}

#city-img{
    display: inline-block;
 } 

#line {
  border-color: black;
}
/* .row {

} */

#title {
  font-weight: bold;
}

.mt-1{
  font-weight: bold;
}
#fiveday-header{
  font-weight: bold;
}
#weather-dashboard {
  background-image: linear-gradient(to right, rgb(20, 63, 121) , rgba(40, 6, 71, 0.973));
}

.history-element {
  margin-bottom: 3%;
  text-align:center;
  background-color:rgba(128, 128, 128, 0.356);
  width: 100%;
  border: none;
  border-radius: 5px;
}

#today-weather{
  border-color: black;
}

#enter-city{
  border-color: rgba(0, 0, 0, 0.603);
}

#search-button{
  width:100%;
  padding: 0;
}

.forecast{
  background-color:#0f2942d5;
  padding: 0px;
  border-radius: -2px;
}